extends layout
block content
  #display.w3-card-4.modal.w3-animate-top(style=" width:100%; height=100%; overflow: auto; ")
      .w3-container.w3-blue-grey
          h2.w3-center Administração e Exploração de Bases de Dados
  h4.w3-center API para Monitorização de uma Base de Dados Oracle
    .w3-container.w3-border-blue-grey.w3-border
      br
      br
      br
      br
      a(href='/activities').button.w3-button.w3-blue-grey(style={width:"10%"}) Activity
      br
      br
      a(href='/datafiles').button.w3-button.w3-blue-grey(style={width:"10%"})  Datafiles
      br
      br
      a(href='/tablespaces').button.w3-button.w3-blue-grey(style={width:"10%"}) Tablespaces
      br
      br
      a(href='/users').button.w3-button.w3-blue-grey(style={width:"10%"}) Users
      br
      br
      br
      br
    .w3-container.w3-border-blue-grey.w3-border
      h3.w3-center.w3-bold <b>Dados mais recentes</b>
      .w3-container.w3-border-blue-grey.w3-border
        .w3-row
          div(style={float:"left",width:"25%"})  
            .w3-container.w3-blue-grey
              h2.w3-center
                 a(href='/activities') Activity
            .w3-container.w3-border.w3-topbar.w3-bottombar.w3-border-grey
              each a in activity
                p ID Cargo : #{a.ID_CARGO}
                p Nome Cargo : #{a.DESC_CARGO}  
          div(style={float:"left",width:"25%"})
            .w3-container.w3-blue-grey
              h2.w3-center
                a(href='/datafiles') Datafiles
            .w3-container.w3-border.w3-topbar.w3-bottombar.w3-border-grey
              each d in datafiles
                p ID CLUBE : #{d.ID_CLUBE}
                p Nome  : #{d.NOME}
                p Ano : #{d.ANO_FUNDACAO}
                p Cidade : #{d.CIDADE}
          div(style={float:"left",width:"25%"})
            .w3-container.w3-blue-grey
              h2.w3-center 
                a(href='/tablespaces') Tablespaces
            .w3-container.w3-border.w3-topbar.w3-bottombar.w3-border-grey
              each t in tablespaces
                p ID JOGADOR : #{t.ID_JOGADOR}
                p Nome  : #{t.NOME}
                p Idade : #{t.IDADE}
                p Cidade : #{t.CIDADE}
          div(style={float:"left",width:"25%"})
            .w3-container.w3-blue-grey
              h2.w3-center 
                a(href='/users') Users
            .w3-container.w3-border.w3-topbar.w3-bottombar.w3-border-grey
              each u in users
                p ID clube : #{u.ID_LIGA}
                p Nome  : #{u.NOME}
                p Ano Fundação : #{u.ANO_FUNDACAO}
    footer.w3-large.w3-theme-d1
        address
            b Feito por Grupo 4 - AEBD