extends layout
block content
  #display.w3-card-4.modal.w3-animate-top(style=" width:100%; height=100%; overflow: auto; ")
      .w3-container.w3-blue-grey
          h2.w3-center Administração e Exploração de Bases de Dados
  h4.w3-center API para Monitorização de uma Base de Dados Oracle
    .w3-container.w3-border-blue-grey.w3-border
      br
      br
      br
      br
      a(href='/activities').button.w3-button.w3-blue-grey(style={width:"10%"}) Activity
      br
      br
      a(href='/datafiles').button.w3-button.w3-blue-grey(style={width:"10%"})  Datafiles
      br
      br
      a(href='/tablespaces').button.w3-button.w3-blue-grey(style={width:"10%"}) Tablespaces
      br
      br
      a(href='/users').button.w3-button.w3-blue-grey(style={width:"10%"}) Users
      br
      br
      br
      br
    .w3-container.w3-border-blue-grey.w3-border
      h3.w3-center.w3-bold <b>Dados mais recentes</b>
      .w3-container.w3-border-blue-grey.w3-border
        .w3-row
          div(style={float:"left",width:"25%"})  
            .w3-container.w3-blue-grey
              h2.w3-center
                 a(href='/activities') Activity
            .w3-container.w3-border.w3-topbar.w3-bottombar.w3-border-grey
              each a in activity
                p <b>ID Activity :</b>  #{a.IDACTIVITY}
                p <b>Memória :</b>  #{a.MEMORY}  
                p <b>CPU :</b>  #{a.CPU}
                p <b>Sessão :</b>  #{a.SESSIONS}  
                p <b>Timestamp :</b>  #{a.TIMESTAMP}
          div(style={float:"left",width:"25%"})
            .w3-container.w3-blue-grey
              h2.w3-center
                a(href='/datafiles') Datafiles
            .w3-container.w3-border.w3-topbar.w3-bottombar.w3-border-grey
              each d in datafiles
                p <b>ID Datafile :</b>  #{d.IDDATAFILE}
                p <b>Nome  :</b>  #{d.NOME}
                p <b>Max Size :</b>  #{d.MAX_SIZE}
                p <b>Used Size :</b>  #{d.USED_SIZE}
                p <b>Auto Extend :</b>  #{d.AUTO_EXTEND}
                p <b>Free Size  :</b>  #{d.FREE_SIZE}
                p <b>Status :</b>  #{d.STATUS}
                p <b>ID Tablespace :</b>  #{d.IDTABLESPACES}
                p <b>Timestamp :</b>  #{d.TIMESTAMP}
          div(style={float:"left",width:"25%"})
            .w3-container.w3-blue-grey
              h2.w3-center 
                a(href='/tablespaces') Tablespaces
            .w3-container.w3-border.w3-topbar.w3-bottombar.w3-border-grey
              each t in tablespaces
                p <b>ID Tablespace :</b>  #{t.IDTABLESPACES}
                p <b>Nome  :</b>  #{t.NOME}
                p <b>Max Size :</b>  #{t.MAX_SIZE}
                p <b>Free Size :</b>  #{t.FREE_SIZE}
                p <b>Used Size :</b>  #{t.USED_SIZE}
                p <b>Status  :</b>  #{t.STATUS}
                p <b>Tipo :</b>  #{t.TIPO}
                p <b>Timestamp :</b>  #{t.Timestamp}
          div(style={float:"left",width:"25%"})
            .w3-container.w3-blue-grey
              h2.w3-center 
                a(href='/users') Users
            .w3-container.w3-border.w3-topbar.w3-bottombar.w3-border-grey
              each u in users
                p <b>ID User :</b>  #{u.ID_USER}
                p <b>Nome  :</b>  #{u.NOME}
                p <b>Estado :</b>  #{u.ESTADO}
                p <b>Data Criação :</b>  #{u.DATA_CRIAÇÃO}
                p <b>Data Expiração  :</b>  #{u.DATA_EXPIRAÇÃO}
                p <b>Profile :</b>  #{u.PROFILE}
                p <b>Tablespace  :</b>  #{u.TABLESPACE}
                p <b>Timestamp :</b>  #{u.TIMESTAMP}
    footer.w3-large.w3-theme-d1
        address
            b Feito por Grupo 4 - AEBD
            br
            <img src="/images/1.png" alt="logo uminho" width="100" height="90"> 